* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media (width < 576px) {
  .util-block--not-xs.util-block--not-xs {
    display: none;
  }
}

@media (576px <= width < 768px) {
  .util-block--not-sm.util-block--not-sm {
    display: none;
  }
}

@media (768px <= width < 992px) {
  .util-block--not-md.util-block--not-md {
    display: none;
  }
}

@media (992px <= width < 1200px) {
  .util-block--not-lg.util-block--not-lg {
    display: none;
  }
}

@media (width >= 1200px) {
  /* It is not used */
  .util-block--not-xl.util-block--not-xl {
    display: none;
  }
}


body {
  font-family: "Noto Sans", sans-serif;
  color: #333;
}

.wrapper {
  margin: auto;
  width: 290px;
}

@media (width >=576px) {
  .wrapper {
    width: 546px;
  }
}

@media (width >=768px) {
  .wrapper {
    width: 720px;
  }
}

@media (width >=992px) {
  .wrapper {
    width: 940px;
  }
}

@media (width >=1200px) {
  .wrapper {
    width: 1140px;
  }
}

.solutions__section {
  background: linear-gradient(rgba(1, 1, 1, 0.6)), url(../assets/images/solutions-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0 70px 0;
}

.solutions__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 48px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
}

@media (width >=576px) {
  .solutions__section {
    padding: 60px 0 80px 0;
  }

  .solutions__title {
    width: 450px;
    margin: auto;
  }
}

@media (width >=768px) {
  .solutions__section {
    padding: 80px 0 100px 0;
  }
}

@media (width >=992px) {
  .solutions__section {
    padding: 100px 0 120px 0;
  }

  .solutions__title {
    font-size: 54px;
    line-height: 60px;
    letter-spacing: 1.2px;
    width: 617px;
    margin: auto;

  }
}

@media (width >=1200px) {
  .solutions__section {
    padding: 120px 0 140px 0;
  }

  .solutions__title {
    font-size: 62px;
    line-height: 68px;
    letter-spacing: 1.4px;
    width: 750px;
    margin: auto;
  }
}

.solutions-card__section {
  padding: 50px 0;
}

.solutions-card__card-container-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  overflow: hidden;
}

.solutions-card__card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.solutions-card__card {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-items: start;
  width: 290px;
  padding: 16px 16px 20px 16px;
  border: 1px solid rgba(211, 216, 228, 1);
}

.solutions-card__sticker,
.solutions-card__sticker--dark-blue {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 182, 221, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 14px;
  color: #fff;
}

.solutions-card__sticker--dark-blue {
  background-color: rgba(8, 21, 128, 1);
}

.solutions-card__image {
  display: block;
  margin: auto;
  width: 258px;
  height: 140px;
}

.solutions-card__image--1 {
  background-color: rgba(211, 216, 228, 1);
}

.solutions-card__image--2 {
  background-image: url(../assets/images/card-1.png);
}

.solutions-card__image--3 {
  background-color: rgba(255, 119, 154, 1);
}

.solutions-card__image--4 {
  background-color: rgba(0, 182, 221, 1);
}

.solutions-card__image--5 {
  background-image: url(../assets/images/card-2.png);
}

.solutions-card__image--6 {
  background-color: rgba(211, 216, 228, 1);
}

.solutions-card__author {
  padding: 12px 0 6px;
  color: rgba(0, 182, 221, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.8px;
}

.solutions-card__title {
  padding-bottom: 10px;
  color: rgba(1, 1, 1, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
}

.solutions-card__description {
  padding-bottom: 20px;
  color: rgba(1, 1, 1, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.6px;
}

.solutions-card__button,
.solutions-card__button--dark-blue {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-align: center;
  background-color: rgba(0, 182, 221, 1);
  border: 2px solid rgba(0, 182, 221, 1);
  padding: 7px 28px;
}

.solutions-card__button--dark-blue {
  background-color: rgba(8, 21, 128, 1);
  border: 2px solid rgba(8, 21, 128, 1);
}


@media (width >=576px) {
  .solutions-card__card {
    width: 258px;
  }

  .solutions-card__image {
    width: 226px;
  }
}

@media (width >=768px) {
  .solutions-card__section {
    padding: 60px 0;
  }

  .solutions-card__card {
    position: relative;
    width: 345px;
    padding: 28px;
  }

  .solutions-card__sticker,
  .solutions-card__sticker--dark-blue {
    top: 12px;
  }

  .solutions-card__image {
    width: 289px;
    height: 150px;
  }

  .solutions-card__author {
    padding: 18px 0 6px;
  }

  .solutions-card__title {
    padding-bottom: 12px;
  }

  .solutions-card__description {
    padding-bottom: 26px;
  }

  .solutions-card__button,
  .solutions-card__button--dark-blue {
    padding: 8px 28px;
  }
}

@media (width >=992px) {
  .solutions-card__section {
    padding: 80px 0;
  }

  .solutions-card__card {
    width: 455px;
    padding: 30px;
  }

  .solutions-card__sticker,
  .solutions-card__sticker--dark-blue {
    top: 12px;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 1.2px;
    padding: 6px 15px;
  }

  .solutions-card__image {
    width: 395px;
    height: 170px;
  }

  .solutions-card__author {
    padding: 20px 0 6px;
    font-size: 13px;
    line-height: 20px;
  }

  .solutions-card__title {
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1.2px;
  }

  .solutions-card__description {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.8px;
  }

  .solutions-card__button,
  .solutions-card__button--dark-blue {
    padding: 8px 35px;
    font-size: 13px;
    line-height: 20px;
  }
}

@media (width >=1200px) {
  .solutions-card__section {
    padding: 100px 0;
  }

  .solutions-card__card-container-wrapper {
    overflow: auto;
  }

  .solutions-card__card {
    width: 360px;
    padding: 30px;
  }

  .solutions-card__sticker,
  .solutions-card__sticker--dark-blue {
    top: 12px;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 1.2px;
    padding: 6px 16px;
  }

  .solutions-card__image {
    width: 300px;
    height: 170px;
  }

  .solutions-card__author {
    padding: 20px 0 6px;
    font-weight: 400;
    font-size: 20px;
  }

  .solutions-card__title {
    padding-bottom: 16px;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 1.2px;
  }

  .solutions-card__description {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.8px;
  }
}

.call-to-action__section {
  background-color: rgba(1, 1, 1, 1);
  padding: 50px 0;
}

.call-to-action__item-container {
  display: flex;
  flex-direction: column;
}

.call-to-action__title {
  font-weight: 700;
  font-size: 46px;
  line-height: 48px;
  letter-spacing: 1px;
  text-align: center;
  color: rgba(0, 182, 221, 1);
  padding-bottom: 14px;
}

.call-to-action__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
}

.call-to-action__button-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 30px;
}

.call-to-action__button--primary {
  background-color: rgba(0, 182, 221, 1);
  border: 2px solid rgba(0, 182, 221, 1);
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-align: center;
  padding: 8px 103px;
  color: #fff;
}

.call-to-action__button--secondary {
  background-color: transparent;
  border: 2px solid rgba(0, 182, 221, 1);
  font-weight: 400;
  font-size: 11px;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-align: center;
  padding: 8px 103px;
  color: #fff;
}

.call-to-action__img-container {
  width: 100%;
}

.call-to-action__image {
  display: block;
  margin: auto;
  width: 100%;
}

@media (width >=576px) {
  .call-to-action__section {
    padding: 60px 0;
  }

  .call-to-action__item-container {
    display: flex;
    flex-direction: column;
  }

  .call-to-action__title {
    width: 450px;
    margin: auto;
  }

  .call-to-action__description {
    width: 450px;
    margin: auto;
  }

  .call-to-action__button-container {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
  }

  .call-to-action__button--primary,
  .call-to-action__button--secondary {
    padding: 8px 28px;
  }

  .call-to-action__img-container {
    max-width: 450px;
    margin: auto;
  }
}

@media (width >=768px) {
  .call-to-action__section {
    padding: 70px 0;
  }

  .call-to-action__item-container {
    display: flex;
    flex-direction: column;
  }

  .call-to-action__title {
    width: 595px;
    margin: auto;
  }

  .call-to-action__description {
    width: 595px;
    margin: auto;
  }

  .call-to-action__button-container {
    flex-direction: row;
    justify-content: center;
    padding-bottom: 40px;
  }

  .call-to-action__button--primary,
  .call-to-action__button--secondary {
    padding: 8px 28px;
  }

  .call-to-action__img-container {
    max-width: 595px;
  }
}

@media (width >=992px) {
  .call-to-action__section {
    padding: 80px 0;
  }

  .call-to-action__item-container {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .call-to-action__elements-container {
    display: flex;
    flex-direction: column;
    height: 294px;
  }

  .call-to-action__title {
    width: 455px;
    margin: auto;

    font-size: 54px;
    line-height: 60px;
    letter-spacing: 1.2px;
    text-align: start;
    padding-bottom: 20px;
  }

  .call-to-action__description {
    width: 455px;
    margin: 0;

    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1.2px;
    text-align: start;
  }

  .call-to-action__button-container {
    flex-direction: row;
    justify-content: start;
    padding-bottom: 0;
  }

  .call-to-action__button--primary,
  .call-to-action__button--secondary {
    font-size: 13px;
    padding: 9px 30px;
  }

  .call-to-action__img-container {
    overflow: hidden;
    width: 455px;
    height: 332px;
  }

  .call-to-action__image {
    width: 777px;
    height: 431px;
  }
}

@media (width >=1200px) {
  .call-to-action__section {
    padding: 100px 0;
  }

  .call-to-action__item-container {
    gap: 127px;
  }

  .call-to-action__elements-container {
    height: 328px;
  }

  .call-to-action__title {
    width: 555px;
    margin: auto;

    font-size: 62px;
    line-height: 68px;
    letter-spacing: 1.4px;
    text-align: start;
    padding-bottom: 22px;
  }

  .call-to-action__description {
    width: 555px;
    margin: 0;

    font-size: 22px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: start;
    padding-bottom: 40px;
  }

  .call-to-action__button-container {
    flex-direction: row;
    justify-content: start;
    padding-bottom: 0;
  }

  .call-to-action__button--primary,
  .call-to-action__button--secondary {
    font-size: 13px;
    padding: 9px 35px;
  }

  .call-to-action__img-container {
    width: 458px;
    height: 380px;
  }

  .call-to-action__image {
    margin-top: -15px;
    width: 704px;
    height: 453px;
  }
}

.card-carousel__section {
  padding: 50px 0;
}

.card-carousel__card-container {
  position: relative;
  display: flex;
  gap: 30px;
  padding-bottom: 20px;
  overflow: hidden;
}

.card-carousel__card {
  position: relative;
  padding: 16px 16px 20px 16px;
  border: 1px solid rgba(211, 216, 228, 1);
  display: none;
  flex-direction: column;
  width: 290px;
}

.card-carousel__sticker,
.card-carousel__sticker--dark-blue {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 182, 221, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 14px;
  color: #fff;
}

.card-carousel__sticker--dark-blue {
  background-color: rgba(8, 21, 128, 1);
}

.card-carousel__image {
  display: block;
  margin: auto;
  width: 258px;
  height: 140px;
}

.card-carousel__image--1 {
  background-color: rgba(211, 216, 228, 1);
}

.card-carousel__image--2 {
  background-image: url(../assets/images/card-1.png);
}

.card-carousel__image--3 {
  background-color: rgba(255, 119, 154, 1);
}

.card-carousel__author {
  color: rgba(0, 182, 221, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.8px;
  padding-top: 12px;
  padding-bottom: 6px;
}

.card-carousel__title {
  color: rgba(1, 1, 1, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 1px;
  padding-bottom: 10px;
}

.card-carousel__description {
  color: rgba(1, 1, 1, 1);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.6px;
  padding-bottom: 20px;

}

.card-carousel__button,
.card-carousel__button--dark-blue {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.8px;
  text-align: center;
  background-color: rgba(0, 182, 221, 1);
  border: 2px solid rgba(0, 182, 221, 1);
  padding: 8px 28px;
}

.card-carousel__button--dark-blue {
  background-color: rgba(8, 21, 128, 1);
  border: 2px solid rgba(8, 21, 128, 1);
}

.card-carousel__carousel-switch-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.card-carousel__carousel-switch-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 22px;
  height: 22px;
}

.card-carousel__carousel-switch-button-img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

#next-button {
  transform: rotate(180deg);
}

@media (min-width: 576px) and (max-width: 767px) {
  .card-carousel__card {
    display: none;
    width: 258px;
  }

  .card-carousel__image {
    width: 226px;
    height: 140px;
  }

  .card-carousel__carousel-switch-button-container {
    justify-content: flex-start;
  }
}

@media (width >=768px) and (width < 992px) {
  .card-carousel__card {
    display: none;
    width: 345px;
    padding: 28px;
  }

  .card-carousel__section {
    padding: 60px 0;
  }

  .card-carousel__card-container {
    padding-bottom: 30px;
  }


  .card-carousel__sticker,
  .card-carousel__sticker--dark-blue {
    top: 12px;
  }

  .card-carousel__image {
    width: 289px;
    height: 150px;
  }

  .card-carousel__author {
    padding-top: 18px;
  }

  .card-carousel__title {
    padding-bottom: 12px;
  }

  .card-carousel__description {
    padding-bottom: 26px;
  }

  .card-carousel__button,
  .card-carousel__button--dark-blue {
    padding: 9px 28px;
  }

  .card-carousel__carousel-switch-button-container {
    justify-content: flex-start;
    gap: 25px;
  }

  .card-carousel__carousel-switch-button {
    width: 26px;
    height: 26px;
  }
}

@media (width >=992px) and (width < 1200px) {
  .card-carousel__card {
    display: none;
    width: 455px;
    padding: 30px;

  }

  .card-carousel__card-container {
    padding-bottom: 40px;
  }


  .card-carousel__section {
    padding: 80px 0;
  }

  .card-carousel__sticker,
  .card-carousel__sticker--dark-blue {
    top: 12px;
  }

  .card-carousel__image {
    width: 395px;
    height: 170px;
  }

  .card-carousel__author {
    padding-top: 20px;
    font-size: 13px;
    line-height: 20px;
  }

  .card-carousel__title {
    padding-bottom: 16px;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 1.2px;
  }

  .card-carousel__description {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.8px;
  }

  .card-carousel__button,
  .card-carousel__button--dark-blue {
    padding: 9px 35px;
    font-size: 13px;
    line-height: 20px;
  }

  .card-carousel__carousel-switch-button-container {
    justify-content: flex-start;
    gap: 25px;
  }

  .card-carousel__carousel-switch-button {
    width: 26px;
    height: 26px;
  }
}

@media (width >=1200px) {
  .card-carousel__card {
    display: none;
    width: 360px;
    padding: 30px;
  }

  .card-carousel__section {
    padding: 100px 0 166px;
  }

  .card-carousel__card-container {
    padding-bottom: 40px;
  }


  .card-carousel__sticker,
  .card-carousel__sticker--dark-blue {
    top: 12px;
  }

  .card-carousel__image {
    width: 300px;
    height: 170px;
  }

  .card-carousel__author {
    padding-top: 20px;
    font-size: 13px;
    line-height: 20px;
  }

  .card-carousel__title {
    padding-bottom: 16px;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: 1.2px;
  }

  .card-carousel__description {
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.8px;
  }

  .card-carousel__button,
  .card-carousel__button--dark-blue {
    padding: 9px 35px;
    font-size: 13px;
    line-height: 20px;
  }

  .card-carousel__carousel-switch-button-container {
    justify-content: flex-start;
    gap: 25px;
  }

  .card-carousel__carousel-switch-button {
    width: 26px;
    height: 26px;
  }
}
